* {
  margin: 0;
  padding: 0;
}

.haut {
  background-image: url("images/IMG_4750.jpg");
}

.premier {
  width: 250px;
  height: 100px;
}

.deuxieme {
  width: 500px;
  height: 500px;
}

.troisieme {
  width: 500px;
  height: 500px;
}

.quatrieme {
  width: 500px;
  height: 500px;
}

header p {
  background-color: blue;
  text-align: center;
  width: 100%;
  height: 20px;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

header .container {
  display: flex;
  justify-content: space-between;
}

.search {
  width: 20px;
  height: 20px;
}

.cart {
  width: 20px;
  height: 20px;
}

.hamburger {
  width: 20px;
  height: 20px;
}

.header li {
  float: left;
}

.container2 {
  display: flex;
}

.photos1 img {
  width: 100px;
  height: 100px;
  padding: 2px;
}

.photos2 img {
  width: 100px;
  height: 100px;
  padding: 2px;
}

.milieu-2 {
  display: flex;
}

.milieu-3 {
  display: flex;
}

.milieu-4 {
  display: flex;
}

.milieu-5 {
  display: flex;
}

.mil-5 {
  width: 100px;
  height: 100px;
  padding: 2px;
}

.bas img {
  width: 100px;
  height: 100px;
  padding: 2px;
}

footer {
  color: #333232;
  background-color: grey;
}

footer .container {
  display: flex;
  justify-content: space-evenly;
}
